# Non-personalized recommandation

In [45]:
# Imports

import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt

In [46]:
user_ratings_df = pd.read_csv("./Data/MovieLens/Processed/user_rating.csv", index_col=0)
user_ratings_df.head()

   userId  movieId  rating           title
0       1        1     4.0  Jumanji (1995)
1       1        3     4.0  Jumanji (1995)
2       1        6     4.0  Jumanji (1995)
3       1       47     5.0  Jumanji (1995)
4       1       50     5.0  Jumanji (1995)

# Which are the most viewed movies?

In [55]:
user_ratings_df['title'].value_counts().head(20)

Inkwell, The (1994)                        2698
Wallace & Gromit: A Close Shave (1995)     2478
Blade Runner (1982)                        2108
Radioland Murders (1994)                   1864
Specialist, The (1994)                     1346
I Shot Andy Warhol (1996)                  1302
Screamers (1995)                           1260
Color of Night (1994)                      1218
Phantom, The (1996)                        1115
Tales from the Hood (1995)                 1055
Natural Born Killers (1994)                1046
Fatal Instinct (1993)                      1027
Before the Rain (Pred dozhdot) (1994)       977
Clear and Present Danger (1994)             975
Ashes of Time (Dung che sai duk) (1994)     943
War, The (1994)                             939
White Man's Burden (1995)                   904
I Love Trouble (1994)                       879
Love Affair (1994)                          862
Terminal Velocity (1994)                    836
Name: title, dtype: int64

In [54]:
# year = [t[-5:-1] for t in user_ratings_df['title']]
year = []
for t in user_ratings_df['title']:
    try:
        year.append(int(t[-5:-1]))
    except ValueError:
        pass
        
year = np.array(year)
np.max(year)

1996

In [29]:
float('1989')

1989.0