# Recreating the datacamp's dataset

In [19]:
user_ratings_df = ratings_df.copy()
user_ratings_df.drop('timestamp',axis=1,inplace=True)
user_ratings_df['title'] = movies_df.loc[user_ratings_df["movieId"]]["title"].values
user_ratings_df.reset_index(inplace=True)
user_ratings_df.head()

   userId  movieId  rating                        title
0       1        1     4.0             Toy Story (1995)
1       1        3     4.0      Grumpier Old Men (1995)
2       1        6     4.0                  Heat (1995)
3       1       47     5.0  Seven (a.k.a. Se7en) (1995)
4       1       50     5.0   Usual Suspects, The (1995)

In [19]:
user_ratings_df = ratings_df.copy()
user_ratings_df.drop('timestamp',axis=1,inplace=True)
user_ratings_df['title'] = movies_df.loc[user_ratings_df["movieId"]]["title"].values
user_ratings_df.reset_index(inplace=True)
user_ratings_df.head()

   userId  movieId  rating                        title
0       1        1     4.0             Toy Story (1995)
1       1        3     4.0      Grumpier Old Men (1995)
2       1        6     4.0                  Heat (1995)
3       1       47     5.0  Seven (a.k.a. Se7en) (1995)
4       1       50     5.0   Usual Suspects, The (1995)

In [20]:
user_ratings_df.to_csv("./Data/MovieLens/Processed/user_rating.csv")

In [21]:
# Extract year
year = []
for t in user_ratings_df['title']:
    try:
        year.append(int(t[-5:-1]))
    except ValueError:
        pass
        
year = np.array(year)
np.max(year)

2018

In [21]:
# Extract year
year = []
for t in user_ratings_df['title']:
    try:
        year.append(int(t[-5:-1]))
    except ValueError:
        pass
        
year = np.array(year)
np.max(year)

2018