# EDA of the MovieLens dataset

The dataset set contains 100,000 reviews by ~1000 users on ~1700 movies. Each user rated at least 20 movies. This is a subset dataset, as the full dataset contains 25M reviews. Got it from kaggle, [here](https://www.kaggle.com/prajitdatta/movielens-100k-dataset).

In [1]:
# Imports

import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt

In [2]:
ratings_df = pd.read_csv("./Data/MovieLens/ml-latest-small/ratings.csv")
ratings_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [3]:
movies_df = pd.read_csv("./Data/MovieLens/ml-latest-small/movies.csv")
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

# Recreating the datacamp's dataset

In [13]:
user_ratings_df = ratings_df.copy()
user_ratings_df.drop('timestamp',axis=1,inplace=True)
user_ratings_df['title'] = movies_df.loc[user_rating_df["userId"]]["title"].values
user_ratings_df.head()

   userId  movieId  rating           title
0       1        1     4.0  Jumanji (1995)
1       1        3     4.0  Jumanji (1995)
2       1        6     4.0  Jumanji (1995)
3       1       47     5.0  Jumanji (1995)
4       1       50     5.0  Jumanji (1995)

In [16]:
user_ratings_df.to_csv("./Data/MovieLens/Processed/user_rating.csv")

1996