# EDA of the MovieLens dataset

The dataset set contains 100,000 reviews by ~1000 users on ~1700 movies. Each user rated at least 20 movies. This is a subset dataset, as the full dataset contains 25M reviews. Got it from kaggle, [here](https://www.kaggle.com/prajitdatta/movielens-100k-dataset).

In [1]:
# Imports

import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt

In [9]:
ratings_df = pd.read_csv("./Data/MovieLens/ml-latest-small/ratings.csv", index_col=0)
ratings_df.head()

        movieId  rating  timestamp
userId
1             1     4.0  964982703
1             3     4.0  964981247
1             6     4.0  964982224
1            47     5.0  964983815
1            50     5.0  964982931

In [13]:
movies_df = pd.read_csv("./Data/MovieLens/ml-latest-small/movies.csv", index_col=0)
movies_df.head(10)

,title,genres
movieId,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy
6,Heat (1995),Action|Crime|Thriller
7,Sabrina (1995),Comedy|Romance
8,Tom and Huck (1995),Adventure|Children
9,Sudden Death (1995),Action
10,GoldenEye (1995),Action|Adventure|Thriller

# Recreating the datacamp's dataset

In [19]:
user_ratings_df = ratings_df.copy()
user_ratings_df.drop('timestamp',axis=1,inplace=True)
user_ratings_df['title'] = movies_df.loc[user_ratings_df["movieId"]]["title"].values
user_ratings_df.reset_index(inplace=True)
user_ratings_df.head()

   userId  movieId  rating                        title
0       1        1     4.0             Toy Story (1995)
1       1        3     4.0      Grumpier Old Men (1995)
2       1        6     4.0                  Heat (1995)
3       1       47     5.0  Seven (a.k.a. Se7en) (1995)
4       1       50     5.0   Usual Suspects, The (1995)

In [20]:
user_ratings_df.to_csv("./Data/MovieLens/Processed/user_rating.csv")

In [21]:
# Extract year
year = []
for t in user_ratings_df['title']:
    try:
        year.append(int(t[-5:-1]))
    except ValueError:
        pass
        
year = np.array(year)
np.max(year)

2018